*{
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
}
.welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 250%;
    font-family: 'sans-serif-condensed';
}
.yeaIMgEE{
    width: 100px;
    height: 100px;
}
.CONTAINEEEE{
    height: auto;
    width: 100%;
}